@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Roboto,
        Arial,
        sans-serif;
    letter-spacing: 0;
    background-color: #e9e9e9;
}

#headerBlock {
    background-color: #2874f0;
    width: 100%;
    height: 56px;
    position: fixed;
}

#headerBlock article {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    height: 56px;
    align-items: center;
    justify-content: center;
}

#headerBlock article .leftHeader {
    flex-basis: 70%;
    display: flex;
    justify-content: space-between;
}

#headerBlock article .rightHeader {
    flex-basis: 30%;
}

.logo {
    flex-basis: 11%;
}

.search {
    flex-basis: 89%;
}

.main_logo_block img {
    width: 75px;
}

.plus_logo_block span {
    font-size: 11px;
    font-style: italic;
}

.plus_logo img {
    width: 10px;
}

.logo a {
    display: block;
    text-decoration: none;
    line-height: 10px;
    color: #f0f0f0;
}

.plus {
    color: #ffe500;
    font-weight: 500;
    margin-right: 2px;
}

.explore {
    color: #f0f0f0;

}

.plus_logo_block:hover {
    text-decoration: underline;
}

/* search css starts here */
.search input {
    width: 75%;
    box-sizing: border-box;
    height: 35px;
    border-radius: 2px;
    border: 1px solid #eee;

}

::placeholder {
    text-transform: capitalize;
    padding-left: 15px;
    font-weight: 500;
}

.search-icon-block {
    position: relative;
}

.fa-search {
    position: absolute;
    left: -31px;
    top: 3px;
    color: #2874f0;
    font-size: 17px;
}

/* search css ends here */

/*------------right menu css starts here ---*/
.rightHeader nav>ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    align-items: center;
    justify-content: flex-end;
}

.rightHeader nav>ul>li>a {
    padding: 0 15px 0 33px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.rightHeader nav ul>li:nth-child(1) a.first-child {
    background: #fff;
    color: #2874f0;
    padding: 6px 40px;
    border-radius: 1px;
    box-shadow: 0px 0px 1px 0px #11111140;
}

.rightHeader svg {
    transform: rotate(270deg);
    margin: 0px 4px;
}

/*-----flipkart dropdown menu -----------*/
.first-child {
    position: relative;
}

.dropdown {
    position: absolute;
    display: none;
    flex-direction: column;
    list-style: none;
    background: #fff;
    width: 260px;
    box-shadow: 1px 0px 6px 0px #ccc;
    margin: 20px 0;
    left: -66px;
}

.dropdown .nav-item .nav-link {
    padding: 10px 20px !important;

}

.dropdown a {
    text-decoration: none;
    color: #444;
    border-bottom: 1px solid #eee;
    display: block;
    width: 100%;
    padding: 15px 15px;
}

.customer_links {
    display: flex;
}

.customer_links span a.customer {
    color: #111;

}

.customer_links span a.signup {
    color: #2874f0;

}

ul>li:hover ul {
    display: flex;


}